*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: grid;
  align-items: center;
  align-content: center;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0px auto;
  flex-direction: row;
  align-items: flex-end;
}

.result {
  display: flex;
  position: relative;
  max-width: 711px;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}

.result__video-container {
  display: flex;
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

video {
  position: relative;
}

/* СТИЛИ ВЫБРАННОГО ГОРОДА */
.search-form {
  display: flex;
  /* padding: 0 0 0; */
  gap: 40px;
  align-items: flex-end;
}

.search-form__fieldset {
  display: flex;
  border-width: 0;
  flex-direction: column;
}

.search-form__fieldset-title {
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 2px 0 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.search-form__textfield {
  display: block;
  padding: 2px;
  color: #fff;
  appearance: none;
  width: 225px;
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background: transparent;
  outline: none; /* Убирает контур при фокусе */
  resize: none; /* Запрещает изменение размера (для textarea, но полезно указать) */
  border-width: 1px 0 1px;
  border-color: white;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield :focus {
  outline: 1px solid transparent;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Стиль для label при visible focus у input */
.search-form__label:has(:focus-visible) {
  border: 1px solid #ffffff;
  padding: 0px;
  display: inline-block;
}

/* ------Скрытие стандартных настроек--------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 6px;
}

/* НОВЫЕ ЧЕКБОКСЫ */
.search-form__pseudo-checkbox {
  display: inline-block;
  padding: 1px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
}

.search-form__label-text {
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 1px solid #000;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;
}

/* КНОПКА ПОИСКА */
.button {
  display: flex;
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: rgb(0 0 0 / 0%);
  border: 1px solid;
  cursor: pointer; /* кликабельность */
  justify-content: center;
  margin: 1px;
}

.search-form__submit-button {
  padding: 5px 73px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

/*   СТИЛИ  ТЕМПЛЕЙТЫ КАРТОЧЕК  */
.content__details {
  display: flex;
  width: 399px;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__list {
  display: inline-grid;
  gap: 30px;
  justify-content: start;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  width: 399px;
  height: 298px;
  overflow-y: auto; /* Вертикальная прокрутка при переполнении */
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет "…" при обрезке */
  white-space: nowrap;
}

.content__video-card-description-container {
  display: flex;
  width: 196px;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Ограничение в 4 строки */
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  display: block;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background-color: #545050;
}

.more-button {
  width: 21.8em;
  padding: 6px;
}
