*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  align-items: flex-end;
}

.result {
  display: flex;
  position: relative;
  max-width: 711px;
  padding: 75px 0 0;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.result__video-container {
  position: relative;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  object-fit: contain;
}

.result__video {
  width: 100%;
  object-position: center;
  padding: 30px 0 0px;
}

video {
  width: 100%;
  object-position: center;
  position: relative;
  width: 100%;
  min-height: 400px;
}

/* СТИЛИ ВЫБРАННОГО ГОРОДА */
.search-form {
  display: flex;
  justify-content: space-between;
  padding: 0 0 80px;
  gap: 34px;
  align-items: flex-end;
}

.search-form__fieldset {
  display: flex;
  width: 214px;
  padding-top: 0;
  border-width: 0;
  flex-direction: column;
  margin: 0 0px;
  padding: 0 0 33px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  line-height: 100%;
  font-size: 18px;
  padding: 2px 0 7px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.search-form__textfield {
  display: block;
  color: #fff;
  appearance: none;
  width: 14em;
  font-size: 0.9em;
  background: transparent;
  outline: none; /* Убирает контур при фокусе */
  resize: none; /* Запрещает изменение размера (для textarea, но полезно указать) */
  border-width: 2px 0 2px;
  border-color: white;
}

.input {
  width: 300px;
  padding: 2px;
  border: 2px solid #ddd;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  outline: 1px solid transparent;
  border-top: 1px solid;
border-bottom: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
}

/* Сброс outline у input в фокусе */
.search-form__label:focus {
  outline: none;
}

/* Стиль для label при visible focus у input */
.search-form__label:has(:focus-visible) {
  border: 2px solid #ffffff;
  padding: 0px;
  display: inline-block;
}

/* ------Скрытие стандартных настроек--------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

/* НОВЫЕ ЧЕКБОКСЫ */
.search-form__pseudo-checkbox {
  display: inline-block;
  padding: 1px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.search-form__label-text:hover {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}

input[type="checkbox"]:checked + span {
display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 1px solid #000;
  outline: 1px solid #fff;
}

/* КНОПКА ПОИСКА */
.button {
  display: flex;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: rgb(0 0 0 / 0%);
  border: 1px solid;
  cursor: pointer; /* кликабельность */
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-form__submit-button {
  display: flex;
  margin: 28px 3px;
  padding: 6px 73px;
}

.search-form__submit-button:hover {
  display: flex;
  margin: 28px 3px;
  padding: 6px 73px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__submit-button:active {
  display: flex;
  margin: 28px 3px;
  padding: 6px 73px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  background-color: #545050;
}

/*   СТИЛИ  ТЕМПЛЕЙТЫ КАРТОЧЕК  */
.content__details {
  display: flex;
  width: 399px;
  padding-bottom: 105px;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  /* width: 258px; */
  font-family: Oswald;
  font-weight: 700;
  font-size: 4.11em;
  line-height: 96%;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
}

.content__list {
  display: inline-grid;
  gap: 25px;
  justify-content: start;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
  color: white;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:hover {
  padding: 0 3px;
  text-decoration: underline;
}

.content__list-item:active {
  padding: 0 3px;
  background-color: #545050;
}

.content__list-container {
  position: relative;
  display: inline-grid;
  gap: 25px;
  height: 300px;
  overflow-y: auto; /* Вертикальная прокрутка при переполнении */
  overflow-x: hidden; /* Горизонтальная прокрутка отключена */
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет "…" при обрезке */
}

.content__video-card-title:hover {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  max-width: 11em;
  flex-grow: 1;
  min-width: 0;
  padding: 0px 10px 0 0;
}

.content__video-card-description-container:active {
  display: block;
  width: 100%;
  height: 100%;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 10.3em;
  object-fit: cover;
  object-position: center;
  display: block;
  overflow: hidden;
}

.more-button {
  width: 21.8em;
  padding: 6px;
}

.more-button:hover {
  width: 21.8em;
  padding: 6px;
  text-decoration: underline;
}

.error {
  position: relative;
  width: 100%;
  min-height: 400px;
}

.preloader-template {
  position: relative;
  inset: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #545050;
  transform: translate(-150%, -50%);
  display: none;
}
